%h3= event.title
%p.byline
  = event.starts_at.to_s(:with_time)
  = "-"
  = link_to "permalink", event_path(event)

%p
  = link_to(image_tag(event.image.thumb.url, :alt => event.title), event.image.url) if event.image.present?
  = body event

.clear
