%a{:name => project.permalink}
%h3= project.title
%p.byline
  = project.happened_at.to_s(:without_time)
  = "-"
  = link_to "permalink", project_path(project)
- if project.image.present?
  %p= link_to image_tag(project.image.thumb.url, :alt => project.title), project.image.url
= body project
.clear
- if project.file.present?
  %div{:style => "padding-left: 12px;"}
    %ul
      %li
        = link_to project.file_title, project.file.url
        %span.italic= "(.#{project.file.to_s.split(".").last})"
        