%h3= post.title
%p.byline
  = post.created_at.to_s(:with_time)
  \-
  = link_to "Permalink", blog_path(post)

%p
  = link_to(image_tag(post.image.thumb.url, :alt => post.title), post.image.url) if post.image.present?
  = body post

.clear
