!!!
%html
  %head
    %title= generated_title

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    
    = render :partial => "shared/meta"

  %body
    #header
      %h1 Eliot Britton
      %h2 Composer. Teacher. Sound Artist#{link_to ".", "/p/", :rel => "nofollow"}

    #menu= render :partial => "shared/nav"

    #content
      #col_left= yield :sidebar
      #col_right= yield
      .clear

      #footer
        %p
          = link_to "RSS", "/rss.xml"
          &nbsp;&nbsp;
          = link_to image_tag("/images/template/rss.gif", :alt => "RSS"), "/rss.xml"
          | &nbsp;&copy; 2007-2012
          = obfuscated_mail_to "eliot@ebritton.com", "Eliot Britton"
          &nbsp;&nbsp; | &nbsp;&nbsp;
          = link_to "Site Source", "http://github.com/kimos/ebritton.com"
