!!!
%html
  %head
    %title Eliot Britton - Secret

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"

    = render :partial => "shared/meta"
    = render partial: "layouts/analytics" if Rails.env.production?

    %meta{:name => "robots", :content => "noindex, nofollow"}

  %body.secret
    = yield
